name: CI


# by not building all branches on push, we avoid the duplicated builds in PRs
on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:


env:
  NUMBA_NUM_THREADS: 1
  MPLBACKEND: Agg
  PYTEST_ADDOPTS: --color=yes


jobs:
  static-code-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --files $(git diff origin/main --name-only)

  tests:
    strategy:
      matrix:
        include:
          - python-version: "3.10"
            os: ubuntu-latest
            ctapipe: "0.23.1"

          - python-version: "3.11"
            os: ubuntu-latest
            ctapipe: "0.24.0"

          - python-version: "3.12"
            os: ubuntu-latest
            extra-args: ['codecov']
            ctapipe: "0.25.1"

          - python-version: "3.13"
            os: ubuntu-latest
            ctapipe: "0.26.0"

          - python-version: "3.13"
            os: ubuntu-latest
            ctapipe: "0.27.0"

          - python-version: "3.13"
            os: ubuntu-latest
            ctapipe: "0.28.0"

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Update pip
        run: |
          python -m pip install --upgrade pip

      - name: Build the package
        run: |
          pip install build
          python -m build

      - name: Install the package
        run: pip install .[test]

      - name: Install the package in editable mode
        run: |
          pip install --editable .[test]
          pip install ctapipe==${{ matrix.ctapipe }}

      - name: Test with pytest
        run: |
          pytest --cov --cov-report=xml --cov-branch \
            --doctest-modules \
            --ignore-glob="*/_dev_version" \
            -v

      - uses: codecov/codecov-action@v3
        if: contains(matrix.extra-args, 'codecov')

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install doc dependencies
        run: |
          pip install -e .[docs]
          git describe --tags
          python -c 'import ctapipe_io_zfits ; print(ctapipe_io_zfits.__version__)'

      - name: Build docs
        run: make -C docs html SPHINXOPTS="--keep-going --color --nitpicky --fail-on-warning"
